<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-sm-3 user-contact">
            <div style="padding-top: 5px;padding-bottom:5px;">
                <button class="btn btn-danger" (click)="logoutChat()"> Logout</button>
            </div>
            <div class="search">
                <input type="text" placeholder="search">
                <!-- <button class="btn-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button> -->
            </div>
           <ul class="contact-list" *ngIf="contacts.length > 0">
               <li class="clearfix" *ngFor="let contact of contacts" (click)="currentChat(contact)" >
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="">
                    <div class="about">
                        <div class="name">{{ contact.name }}</div>
                        <div class="status">
                            <div><div class="status-icon status-online"></div>  online</div>
                        </div>
                    </div>
               </li>

           </ul>
        </div>
        <div class="col-sm-9 chat">
            <div class="chat-header clearfix">
                <div class="img-wrapper"></div>
                <div class="chat-about">
                    <div class="chat-name">
                        <p>Chat with {{ currentContact }}</p>
                    </div>
                </div>
            </div>
            <div class="chat-divide"></div>
            <div class="chat-history" #chatMessagesHistory>
                <ng-container #listMessagesContainer></ng-container>
              </div>

              <div class="chat-message-send">
                    <textarea type="text" [(ngModel)]="messageTxt" class="input-message" placeholder="type your message here..."></textarea>
                    <button type="button" class="btn-send-message" (click)="sendMessage()">Send</button>
              </div>
        </div>
    </div>
</div>
