<ng-container [ngSwitch]="typeMessage">
    <ng-container *ngSwitchCase="'mymessage'">
        <ng-container *ngTemplateOutlet="myMessage; context:messageCtx"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'contactmessage'">
        <ng-container *ngTemplateOutlet="contactMessage context:messageCtx"></ng-container>
    </ng-container>

</ng-container>


<ng-template #myMessage let-message>
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time" >{{ date }}</span>           
        </div>
        <div class="chat-row end">
            <div class="chat-message send">{{ message }}</div>
        </div>
        
    </li>
</ng-template>

<ng-template #contactMessage  let-message> 
    <li class="clearfix">
        <div class="message-data">
          <span class="message-data-time">{{ date }}</span>
        </div>
        <div class="chat-row start">
            <div class="chat-message received">{{ message }}</div>
        </div>
      </li>
</ng-template>

