$lightgray:#6A6C75;
$mainGray: #444753;
$statusOnline: #86BB71;
$statusOffline:#E38968;
li{
    list-style: none;
}

.align-right{ text-align: right;}
.align-left{ text-align: right;}

.message-data{ color: $lightgray;margin-right: 15px;margin-left: 15px; }
.message-data-name{ color: #5D606A; margin-right: 10px;margin-left: 10px;}
fa-icon { 
    font-size: 11px ;
    &.my-msg-icon{ color: $statusOnline;}
    &.othen-msg-icon {color: $mainGray}
}

.message {
    color:#fff;
    padding:18px 20px;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 65%;
    &.my-messager{
        background-color: $statusOnline;
    }
    &.other-messager{
        background-color: $mainGray;
    }
}

/* CSS MESSAGE */
.chat-row{
    display: flex;
    &.end{ justify-content: flex-end;}
    &.start{ justify-content: flex-start;}
}

.chat-message {
    width: 35%;    
    line-height: 25px;
    padding: 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
    &.send{
        background-color:#435f7a;
        color: #FFF;
        border-radius: 20px 5px 20px 20px;
    }
    &.received{
        background-color:#F5F5F5 ;
        color: #435f7a;
        border-radius: 5px 20px 20px 20px;
    }
    &:first-child{ margin-top: 10px; }
}